.banner {
    background: inherit!important;
    h1 {
        text-align: center;
        font-weight: normal;
        font-size: 26px;
        width: 700px;
        position: absolute;
        left: 50%;
        margin-left: -350px;
    }
}