
//顶部header
$header-bg:#fff;
// $header-bg:#fff;
$header-bottom-border:#d5d5d5;
$nav:#1b1b1b;
$nav-active:#ffc509;

//banner
$banner-bg:#fff;
$banner-word:#6facf5;

//body
$body-bg:#f7f7f7;

//index
//card-area
$card-bg:#fff;
$card-mid-border:#dcdcdc;
$card-title:#646464;

//login
//tab-area
$tab-border:#e2e5e8;
$tab-bg:#fbfbfb;
//content
$tab-content-bg:#fff;
$input:#bebebe;
$input-bg:#eee;
$btn-bg:#ffc509;
$btn-bg-hover:#deb329;

//comment
$word-gray:#5b5b5b;
